{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<h1>Отзывы</h1>
<div class="container mt-5">
    <h2>Оставьте отзыв</h2>
    <div class="block-left ">
        <p>Отправьте нам отзыв на почту
        1muzafarov.a.i20@gmail.com </p>
    </div>

    </div>
</div>
<style>
    h1 {
        text-align: center;
    }

    p {
        font-size: 18px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .block-left {
        width: 50%;
        overflow: auto;
        float: left;
    }

    .block-right {
        width: 50%;
        overflow: auto;
    }

    h2 {
        margin-bottom: 20px;
    }
</style>
{% endblock %}